body{
    margin: 0;
}
#header, #footer{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#main{
    border: 2px solid black;
    width: 80%;
    margin: auto;
    /* height: 200px; */
    margin-top: 100px;
    padding: 20px;
}

#static{
    background: lightskyblue;
    padding: 10px;
    margin-bottom: 20px;
}

#relative{
    position: relative;
    left: 20px;
    background: lightcoral;
    padding: 10px;
}

#absolute{
    /* width: 60px; */
    position: absolute;
    background: yellowgreen;
    padding: 10px;
    top: -70px;
    right: 10px;
}
#above-footer{
    position: fixed;
    bottom: 10%;
    background: lightgoldenrodyellow;
    width: 10%;
    padding: 20px;
    left: 10px;

}
#footer{
    top: unset;
    bottom: 0;
}
